dj-database-url
dj-static
Django
django-admin-thumbnails
django-admin-view-permission
django-allauth
django-bootstrap4
django-ckeditor
django-cors-headers
django-crispy-forms
django-currencies
django-debug-toolbar
django-environ
django-extensions
django-heroku
django-js-asset
django-model-utils
django-mptt
django-rest-framework
django-rest-passwordreset
django-storages
django-taggit
django-tastypie
django-templated-mail
django-widget-tweaks
fuzzywuzzy
mysql
mysql-connector
mysql-connector-python
mysqlclient
numpy
pandas
plotly
pytz
pywin32
pywin32-ctypes
random-password-generator
uiautomation